@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Roboto:wght@300;400;500&display=swap');

:root {
    --main-color: black;
    --second-color: white;
    --second-color-hover: #68de7c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    position: relative;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
    padding: 10px 0px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
}

header img {
    padding: 5px 0;
    height: 50px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header ul li {
    list-style: none;
}

header ul li a {
    background-color: var(--second-color);
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

header ul li a:hover {
    background-color: var(--second-color-hover);
}



#banner {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 70px;
    background-color: red;
}

#banner img {
    display: flex;
    justify-items: end;
    width: 100%;
    border-bottom: 5px solid var(--main-color);
}

#banner h4 {
    position: absolute;
    bottom: 30px;
    right: 60px;
    padding: 40px 30px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 65px;
    color: white;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
}

main {
    margin: 50px 0;
    border-radius: 20px;
}

footer {
    background-color: var(--main-color);
    width: 100%;
    color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 25px 0;
}

footer div {
    margin: 0 auto;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul li {
    list-style: none;

}

footer ul li a img {
    background-color: white;
    height: 25px;
    width: 25px;
    padding: 4px;
    border-radius: 10px;
}

footer h6 {
    font-weight: 300;
}